NODE_ENV=development
PORT=5000

# You can generate a new secret on the command line with any of the following:
# require('crypto').randomBytes(32).toString('hex') 
#
# URL and Filename safe
#
# openssl rand -base64 32
# require('crypto').randomBytes(32).toString('base64url')


JWT_SECRET=jTYCvoug09QcXB9mM06QxCo03nRGzlaTDvQEyMFb4dA=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"